@use '../../styles' as *;

.appBar {
  height: $appbar-height;
  @include macos-window;
  border-radius: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  font-size: 13px;
  user-select: none;

  .menu {
    display: flex;
    gap: 16px;

    span {
      cursor: default;
      padding: 0 4px;
      border-radius: 4px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

[data-theme='dark'] .appBar {
  background: rgba(40, 40, 40, 0.7);
}

.option {
  padding: 0px 8px !important;

  &:hover {
    background-color: #62a6ff !important;
    color: white;
  }
}
