@use '../../../styles' as *;

.content {
  flex: 1;
  display: flex;
  overflow: hidden;
  min-width: 500px;
  min-height: 300px;
  transition: width 0.3s ease, height 0.3s ease;
}

.sidebar {
  width: 220px;
  background-color: rgba(0, 0, 0, 0.05);
  overflow-y: auto;

  [data-theme='dark'] & {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.main {
  flex: 1;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.02);

  [data-theme='dark'] & {
    background-color: rgba(255, 255, 255, 0.02);
  }
}
