// Colors
$light-bg: rgba(236, 236, 236, 0.9);
$dark-bg: rgba(40, 40, 40, 0.7);
$light-header-bg: rgba(236, 236, 236, 0.5);
$dark-header-bg: rgba(50, 50, 50, 0.5);

// MacOS window controls
$close-button: #ff5f56;
$minimize-button: #ffbd2e;
$maximize-button: #27c93f;

// Text colors
$light-text: #333;
$dark-text: #fff;

// Border & Shadow
$border-color: rgba(0, 0, 0, 0.158);
$shadow: 0 8px 32px rgba(0, 0, 0, 0.12), 0 0 1px rgba(0, 0, 0, 0.158);

// Dimensions
$appbar-height: 40px;
$modal-header-height: 28px;
