html,
body,
#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: border-box !important;
  
}

*:focus {
  outline: 0;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  background: none;
  font: inherit;
  color: inherit;
}